/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora {border: 6px black ridge; width: 250px;text-align: center;  
               background-color: #E0FFFF; }

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { height: 20px; width: 185px; border: 2px green solid; text-align: right; 
                 position: relative; left: 23px;  padding: 0px 5px;
                 background-color: white; font-family: "courier new"; 
                 overflow: hidden;}

#textoPantalla2 { width: 100px; border: 2px orange solid; text-align: right; 
                 position: relative; left: 107px;  padding: 5px 5px;
                 background-color: white; font-family: "courier new"; 
                 overflow: hidden;}

/*botones normales: anchura y margen*/
.calculadora [type=button] { width: 35px; padding: 0;  }
/*botones especiales*/
.calculadora input.largo { color: red; width: 60px; }

.calculadora input.funesp {color: red; width: 35px; }